@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9f9;
  --foreground: #171717;
  /* --btn-bg-primary: #52bad4;
  --btn-bg-secondary: #d3e2e6;
  --text-clr-primary: #52bad4;
  --text-clr-secondary: #bdc3c5; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
  width: 0;
}
