:root {
  --nav-height: 10vh;
  --header-height: 10vh;
  --footer-height: 10vh;
  --main-height: calc(100vh - (var(--nav-height) + var(--header-height) + var(--footer-height)));
}

.section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  height: 100vh;
  background-color: green;
}

.sidebar-wrapper {
  flex-basis: 15%;
  height: 100%;
  background-color: red;
}

.main-wrapper {
  flex-basis: 85%;
}

.nav {
  height: var(--nav-height);
  background-color: #f4f4f4; /* Optional to differentiate */
}

.header {
  height: var(--header-height);
  background-color: #ccc; /* Optional for visualization */
}

.main {
  width: 100%;
  height: var(--main-height);
  background-color: #000;
}
.footer{
  height: var(--footer-height);
}
